.container {
    width: 900px;
    height: 600px;
    border: 3px solid #333;
    margin: 60px auto;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    /* flex-direction: row-reverse; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
}

.container div{
    width: 120px;
    height: 120px;
    background-color: aquamarine;
    margin: 2px;
}