html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
    line-height: 1.65;
    padding-bottom: 1000px;
}

/* Latihan 1 - Kolom */
.container-satu {
  width: 800px;
  background-color: white;
  margin: 50px auto;
  padding: 20px;  
  box-sizing: border-box;
  display: flex;
}

.kolom-utama {
    flex: 3;
    order: 2;
}

.sidebar-satu {
    flex: 1;
    order: 1;
}

.sidebar-dua {
    flex: 1;
    order: 3;
}

/* Latihan 2 - Service */

.container-dua {
    max-width: 800px;
    margin: 5px auto;
    
}

.layanan {
   margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.layanan.satu {
    background-color: rgb(136, 136, 220);
}
.layanan.dua {
    background-color: rgb(123, 216, 171);
}
.layanan.tiga {
    background-color: rgb(225, 92, 59);
}


/* Responsive */
@media(min-width: 600px) {
    .container-dua {
        display: flex;
        justify-content: space-between;
    }

    .layanan {
        width: 30%;
    }
}